.main-container {
  margin-top: 2%;
  width: 100%;
}

.main-form {
  display: flex;
  height: 40px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 3%;
}

.form-input {
  width: 220px;
  padding: 5%;
}

.form-button {
  width: 80px;
  background-color: #3d5dca;
  color: #fff;
  border: none;
}

.list {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.list-title {
  text-align: center;
}

.list-item {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  background-color: #ddd;
  padding: 20px;
}

.item-title {
  margin: 0;
  align-self: center;
  margin-right: auto;
}

.item-delete {
  color: #fff;
  background-color: red;
  border: none;
  margin-left: 10px;
}